In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\m s i\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\m s i\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\m s i\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\m s i\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\m s i\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\m s i\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [3]:
lst = ['a','b','c','d']
pd.Series(lst)

0    a
1    b
2    c
3    d
dtype: object

In [4]:
pd.Series(lst, index= ['a','b','c','d'])

a    a
b    b
c    c
d    d
dtype: object

In [5]:
d = {'a': '1', 'b': '2', 'c': '3'}
pd.Series(d)

a    1
b    2
c    3
dtype: object

accessing through index

In [9]:
p1 = pd.Series(name, index= ['a','b','c','d'])
name = ['dhoni','rohit','kholi','hardik']
p1

a     dhoni
b     rohit
c     kholi
d    hardik
dtype: object

adding two series

In [10]:
p2 = pd.Series([1,2,3,4],index = ['usa','germany','italy','paris'])
p2

usa        1
germany    2
italy      3
paris      4
dtype: int64

In [13]:
p3 = pd.Series([1,5,3,6],index = ['usa','china','italy','japan'])
p3

usa      1
china    5
italy    3
japan    6
dtype: int64

In [14]:
p2 + p3

china      NaN
germany    NaN
italy      6.0
japan      NaN
paris      NaN
usa        2.0
dtype: float64

Data frames

In [18]:
from numpy.random import randn
df = pd.DataFrame(randn(5,5),index = 'A B C D E'.split())
df

          0         1         2         3         4
A -0.818125 -0.721371 -1.191470 -0.773825 -0.048788
B -1.855501 -0.245615  1.687858 -0.561391 -0.207922
C -0.456341  0.410085 -1.087607 -0.698598  0.248257
D  0.629088  0.712881 -0.340561 -1.030874  0.341482
E -0.333766 -0.414822  0.265508  1.415760 -0.019646