In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\m s i\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\m s i\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\m s i\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\m s i\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\m s i\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\m s i\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [3]:
lst = ['a','b','c','d']
pd.Series(lst)

0    a
1    b
2    c
3    d
dtype: object

In [4]:
pd.Series(lst, index= ['a','b','c','d'])

a    a
b    b
c    c
d    d
dtype: object

In [5]:
d = {'a': '1', 'b': '2', 'c': '3'}
pd.Series(d)

a    1
b    2
c    3
dtype: object

accessing through index

In [9]:
p1 = pd.Series(name, index= ['a','b','c','d'])
name = ['dhoni','rohit','kholi','hardik']
p1

a     dhoni
b     rohit
c     kholi
d    hardik
dtype: object

adding two series

In [10]:
p2 = pd.Series([1,2,3,4],index = ['usa','germany','italy','paris'])
p2

usa        1
germany    2
italy      3
paris      4
dtype: int64

In [13]:
p3 = pd.Series([1,5,3,6],index = ['usa','china','italy','japan'])
p3

usa      1
china    5
italy    3
japan    6
dtype: int64

In [14]:
p2 + p3

china      NaN
germany    NaN
italy      6.0
japan      NaN
paris      NaN
usa        2.0
dtype: float64

Data frames

In [4]:
import pandas as pd
from numpy.random import randn
df = pd.DataFrame(randn(5,5),index = 'A B C D E'.split())
df

          0         1         2         3         4
A  0.511535 -0.686493 -0.059484 -2.011855 -0.259669
B  2.526059  0.254540  0.069590  0.320195  0.110162
C  0.415574 -0.558375  0.019525 -0.052294  0.067537
D  0.652677  0.436576 -1.529529  0.723989 -0.520891
E -0.923672  0.209095  1.071703 -1.241440  0.267137

In [5]:
#accessing coloums
df[2]

A   -0.059484
B    0.069590
C    0.019525
D   -1.529529
E    1.071703
Name: 2, dtype: float64

In [10]:
# Pass a list of column names
df[[3,4]]

          3         4
A -2.011855 -0.259669
B  0.320195  0.110162
C -0.052294  0.067537
D  0.723989 -0.520891
E -1.241440  0.267137

In [12]:
type(df[0])

pandas.core.series.Series

removing columns

In [16]:
df.drop(4,axis=1)

          0         1         2         3
A  0.511535 -0.686493 -0.059484 -2.011855
B  2.526059  0.254540  0.069590  0.320195
C  0.415574 -0.558375  0.019525 -0.052294
D  0.652677  0.436576 -1.529529  0.723989
E -0.923672  0.209095  1.071703 -1.241440

In [17]:
df

          0         1         2         3         4
A  0.511535 -0.686493 -0.059484 -2.011855 -0.259669
B  2.526059  0.254540  0.069590  0.320195  0.110162
C  0.415574 -0.558375  0.019525 -0.052294  0.067537
D  0.652677  0.436576 -1.529529  0.723989 -0.520891
E -0.923672  0.209095  1.071703 -1.241440  0.267137

In [18]:
df.drop(4,axis=1,inplace= True)

In [19]:
df

          0         1         2         3
A  0.511535 -0.686493 -0.059484 -2.011855
B  2.526059  0.254540  0.069590  0.320195
C  0.415574 -0.558375  0.019525 -0.052294
D  0.652677  0.436576 -1.529529  0.723989
E -0.923672  0.209095  1.071703 -1.241440

removing row

In [21]:
df.drop('C',axis=0)

          0         1         2         3
A  0.511535 -0.686493 -0.059484 -2.011855
B  2.526059  0.254540  0.069590  0.320195
D  0.652677  0.436576 -1.529529  0.723989
E -0.923672  0.209095  1.071703 -1.241440

In [25]:
df > 0

       0      1      2      3
A   True  False  False  False
B   True   True   True   True
C   True  False   True  False
D   True   True  False   True
E  False   True   True  False

mising data

In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [30]:
df.fillna("@@@")

     A    B  C
0  1.0  5.0  1
1  2.0  @@@  2
2  @@@  @@@  3

Group By

In [31]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [32]:
df = pd.DataFrame(data)

In [33]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [39]:
df.groupby('Company')

In [40]:
a = df.groupby('Company')

In [42]:
a.mean()

TypeError: agg function failed [how->mean,dtype->object]